APP_ENV=development
PORT=8080
MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE=expense_management
JWT_SECRET=replace-with-a-long-random-secret
JWT_EXPIRES_IN=24h


mongodb+srv://smitgadhiya710_db_user:9AnRMBd6jWNJluVo@cluster0.cnr6ce8.mongodb.net/?appName=Cluster0